# Created by .ignore support plugin (hsz.mobi)

.idea/*

data
ipynb_checkpoints

.DS_Store
.ds_store

.Rdata
.Rhistory

.pyc

clean_clinical_patient.ipynb
.ipynb_checkpoints/jburd_clean_clinical_patient-checkpoint.ipynb
data_clinical_patient_drop.txt

preprocessing.ipynb
prep_clinical.ipynb
prep_clinical.ipynb
